.catalog {
    width: 100%;
    overflow: hidden;
    padding-top: 20px;

    &__search {
        position: relative;
        z-index: 1;
        margin-bottom: 30px;

        &-inp {
            border: 1px solid #d5d5d5;
            border-radius: 6px;
            width: 100%;
            height: 34px;
            padding: 0 39px 0 11px;
            font-size: 15px;
            line-height: 120%;
            color: var(--my-gray);
        }
        
        &-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 50%;
            right: 13px;
            transform: translateY(-50%);
        }
    }
}