// Fonts
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

$font-manrope: "Manrope", sans-serif;
// Fonts end

// Colors
$color-blue: #17499f;
$color-black: #000;
$color-red: #d32536;
$color-light-blue: #dfebff;
$color-white: #fff;
$color-my-gray: #3b3d40;
$color-light-gray: #9f9f9f;
$color-light-gray-2: #d9d9d9;
$color-price: #3e73cf;
$color-super-light-blue: #f0f7ff;
// Colors end